@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class = "alert alert-success">
        <h2 class = "display-4"> Procesos y diseño de software </h2>        
    </div>
</div>

